* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        linear-gradient(137deg, #4B0082 0%, #9932CC 50%, #8A2BE2 100%);
    color: white;
}

.light-mode {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        linear-gradient(137deg, #FFD700 0%, #FFE135 50%, #FFD700 100%);
    color: black;
}

.container {
    display: flex;
    min-height: 100vh;
    height: 100%;
    justify-content: flex-start;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: width 0.3s ease;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

.light-mode .sidebar {
    background-color: rgba(255, 255, 255, 0.8);
}

.sidebar:hover {
    width: 220px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 70px;
    padding-left: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.sidebar-icon,
.sidebar img {
    width: 60px;
    height: 60px;
    display: inline-block;
    object-fit: cover;
    margin-right: 15px;
    vertical-align: middle;
    font-size: 50px;
}

.light-mode .sidebar-icon {
    color: black;
}

.icon-title {
    opacity: 0;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    transition: opacity 0.3s ease;
}

.light-mode .icon-title {
    color: black;
}

.sidebar:hover .icon-title {
    opacity: 1;
}

.top-bar {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 20px;
    /* z-index: 1000; */
}

/* .top-bar .icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .top-bar img,
.top-bar .sidebar-icon {
    width: 30px;
    height: 30px;
} */

.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: flex-start; */
    text-align: left;
    margin-left: 90px;
    width: 100%;
    margin-top: 100px;
    padding: 0 50px;
    gap: 10px;
}

.content h1 {
    font-size: 3rem;
}

.content p {
    font-size: 1.5rem;
}

.menu-btn {
    display: none;
}

.content-avatar {
    height: 150px;
    width: 150px;
}

.btn {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 400px;
}

.btn-curriculum {
    background-color: #5ba3af;
}

.btn-curriculum:hover {
    background-color: #5195a0;
}

.btn-work {
    background-color: #4CAF50;
}

.btn-work:hover {
    background-color: #45a049;
}

.btn img {
    width: 30px;
    height: 30px;
}

.btn p {
    font-size: 24px;
    font-weight: bold;
}

.social-networks {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.social-networks img {
    width: 40px;
    height: 40px;
}

.expstu {
    margin-top: 100px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.exp, .stu{
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


@media (max-width: 768px) {
    .menu-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 1000;
        display: block;
    }

    .sidebar {
        width: 220px;
        transform: translateX(-100%);
        opacity: 0;
    }

    .sidebar.show {
        transform: translateX(0);
        opacity: 1;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .icon-wrapper {
        width: 100%;
    }

    .icon-title {
        opacity: 1;
    }
}