/* Elementos básicos */
main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  body {
    font-family: 'Lexend', sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
    transition: background-color var(--transition-speed), color var(--transition-speed);
    transition: background 0.3s ease, color 0.3s ease;
  }
  