.buttonFollow {
    /* width: 315px;
    text-align: left; */
}

.buttonFollow ul {
    list-style: none;
    position: relative;
    display: inline-block;
}

.buttonFollow ul .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #1f7a7a;
    color: #eee;
    line-height: 50px;
    border-radius: 50px;
    font-size: 22px;
    pointer-events: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: opacity .5s .75s ease-out;
}

.buttonFollow img {
    height: 40px;
    width: 40px;
}

.buttonFollow ul:hover .text {
    opacity: 0;
    transition: opacity .5s .125s ease-out;
}

.buttonFollow ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #1f7a7a;
    text-align: center;
    line-height: 55px;
    margin: 0 -16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color .5s ease-out,
        border-radius .5s .25s ease-out,
        margin .5s .25s ease-out;
}

.buttonFollow ul li:hover {
    background: #1a6565;
}

.buttonFollow ul li i {
    color: #eee;
    font-size: 22px;
    opacity: 0;
    transition: opacity 1.7s;
}

.buttonFollow ul:hover li i {
    opacity: 1;
}

.buttonFollow ul li:nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.buttonFollow ul li:nth-child(5) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.buttonFollow ul:hover li {
    border-radius: 50px;
    margin: 0 3px;
}