.box-card {
  overflow: hidden;
  padding: 15px;
  border-radius: 10px;
  transition: background-color var(--transition-speed);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-color: hsla(0, 0%, 100%, .1);
  outline-color: #1a1a1a;
  color: var(--text-primary);
  background-color: var(--cards);
}