/* ========== 8. Iconos y Botones ========== */

.sidebar-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  object-fit: cover;
  margin-right: 15px;
  font-size: 50px;
  color: whitesmoke;
}

.main-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.socialIcon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  fill: var(--text-primary);
}

.contactIcon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
  /* fill: var(--text-primary); */
}

.instagram,
.codepen {
  color: var(--text-primary);
}

.btn-icon {
  width: 30px;
  height: 30px;
}

.box-icon {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

/* Hover de íconos sociales */
.socialIcon.linkedin:hover,
.socialIcon.mail:hover,
.socialIcon.github:hover,
.socialIcon.figma:hover,
.socialIcon.instagram:hover,
.socialIcon.codepen:hover {
  color: #a285d1;
  fill: #a285d1;
  filter: drop-shadow(0 0 6px #a285d1);
  transition: all 0.3s ease;
}

.aboutIcons {
  height: 25px;
  width: 25px;
  fill: currentColor;
}

.iconosContacto {
  width: 30px;
  height: 30px;
}

.iconoDefault {
  width: 32px;
  height: 32px;
}

.btn-send:hover .socialIcon {
  transform: translateX(5px);
}

.iconoStack{
font-size: 20px;
  color: #a285d1;
}