@import '../base/base.css';
@import '../base/reset.css';
@import '../base/typography.css';
@import '../components/buttons.css';
@import '../components/icons.css';
@import '../components/cards.css';
@import '../layout/layout.css';
@import '../utilities/helpers.css';
@import '../utilities/variables.css';

.contact-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stack {
    width: 100%;
    gap: 30px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
}

.stack-category {
    border-left: 2px solid var(--text-primary);
    padding: 10px 0 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stack-category-items,
.stack-category-subcategory-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 10px 0 0 10px;
    gap: 15px;
}

.stack-category-subcategory {
    padding: 10px 0 0 10px;
}

.stackItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    width: 150px;
    height: 150px;
    border: 3px solid grey;
    border-radius: 25px;
}

.stackItem .topItem {
    width: 15px;
    height: 15px;
    top: 5px;
    right: 5px;
}

.stackItem p {
    font-size: 12px;
}

.stackItem svg {
    width: 75px;
    height: 75px;
    fill: currentColor;
}