@import '../base/base.css';
@import '../base/reset.css';
@import '../base/typography.css';
@import '../components/buttons.css';
@import '../components/icons.css';
@import '../components/cards.css';
@import '../layout/layout.css';
@import '../utilities/helpers.css';
@import '../utilities/variables.css';
@import '../pages/stack-colors.css';
@import '../components/tech-stack.css';


.contact-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stack {
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.stack-category {
    /* border-left: 2px solid var(--text-primary); */
    /* padding: 10px 0 0 30px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stack-category-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.stack-category-title span {
    font-size: 16px;
}

.stack-category-items,
.stack-category-subcategory-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    padding: 10px 0 0 10px;
    gap: 10px;
}

.stack-category-subcategory {
    padding: 10px 0 0 10px;
}